extends layout
block content
  div.homepage-wrapper.active
    img#cloud-bottom(src="../images/cloud-bottom.svg")
    img#cloud-1(src="../images/cloud-2.svg")
    img#cloud-2(src="../images/cloud-1.svg")
    div(class="col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 kit-show-container")
      if !editable
        if !favorited
          button.lc-btn#favorite-kit
            a(href= kit[0]._id + "/favorite") Add to favorites
      if editable
        button.lc-btn#edit-kit
          a(href= kit[0].link + "/edit") Edit
        button.lc-btn#delete-kit
          a(href= kit[0].link + "/delete") Delete
      h1#kit-show-title #{kit[0].title}
      //- p Content: #{kit[0].content}
      //- p sections:
      each section in sections
        div.kit-show-section
          p#kit-show-section-title= section.title
          - let resources = section.resources.sort((a, b) => a._id < b._id ? -1 : 1)
          each resource in resources
            div.kit-show-resource
              p#kit-show-resource-title= resource.title
              a(href= resource.link)
                p#kit-show-resource-link= resource.link

